body{
	background-color: white;
	z-index: 0;
	height: 4350px;
	width: 1366px;
}

@font-face{
  font-family: TiemposHeadline-Medium;
  src: url("TiemposHeadline-Medium.otf");
}

@font-face{
  font-family: TiemposHeadline-Regular
  src: url("TiemposHeadline-Regular.otf");
}

@font-face{
  font-family: TiemposHeadline-RegularItalic;
  src: url("TiemposHeadline-RegularItalic.otf");
}

#museum-name{
  position: fixed;
  left: -265px;
  top: 375px;
  font-family: Helvetica;
  text-transform: uppercase;
  
   writing-mode: bt-lr;
   -webkit-transform: rotate(90deg); 
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   transform: rotate(90deg);
}


#title{
  /*position: absolute;*/
  left: 0px;
  top: 0px;
  font-family: Helvetica;
  font-size: 250px;
  line-height: 300px;
  z-index: 3;
  text-align: center;
  transition: 2s;
}


#quote{
 /* position: absolute;*/
  height: 100px;
  /*width: 1200px;*/
  /*left: 100px;*/
  /*top: 650px;*/
  padding: 50px 100px;
  font-family: TiemposHeadline-RegularItalic;
  font-size: 24px;
  z-index: 3;
  text-align: center;
  transition: 2s;

}


#about{
/*  position: absolute;
  height: 4200px;
  width: 1250px;
  left: 150px;
  top: 1050px;*/
  width: 900px;
  margin: auto;
  font-family: TiemposHeadline-Regular;
  font-size: 30px;
  line-height: 40px;
  transition: all 2s ease;
}


#comp-box {
  position: relative;
  padding: 100px
}


#yellow-e{
  position: absolute;
  top: 75px;
  left: 200px;
  height: 250px;
  width: 250px;
  z-index: 5;
  background-color: yellow;
  mix-blend-mode: overlay;
  transition: all 2s ease;
  pointer-events: none;

}


#composition-iv{
  position: absolute;
  top: 75px;
  left: 200px;
}



#violet-b{
  position: absolute;
  top: 75px;
  left: 475px;
  height: 250px;
  width: 250px;
  z-index: 5;
  background-color: violet;
  mix-blend-mode: overlay;
  transition: all 2s ease;
  pointer-events: none;

}


#composition-v{
  position: absolute;
  top: 75px;
  left: 475px;

}



#red-c{
  position: absolute;
  top: 75px;
  left: 750px;
  height: 250px;
  width: 250px;
  z-index: 5;
  background-color: red;
  mix-blend-mode: overlay;
  transition: all 2s ease;
  pointer-events: none;

}

#composition-vi{
  position: absolute;
  top: 75px;
  left: 750px;
}


#indigo-a{
  position: absolute;
  top: 75px;
  left: 1025px;
  height: 250px;
  width: 250px;
  z-index: 5;
  background-color: indigo;
  mix-blend-mode: hard-light;
  transition: all 2s ease;
  pointer-events: none;
}

#composition-vii{
  position: absolute;
  top: 75px;
  left: 1025px;
}


#green-f{
  position: absolute;
  top: 350px;
  left: 200px;
  height: 250px;
  width: 250px;
  z-index: 5;
  background-color: green;
  mix-blend-mode: overlay;
  transition: all 2s ease;
  pointer-events: none;
}

#composition-viii{
  position: absolute;
  top: 350px;
  left: 200px;
}




#blue-g{
  position: absolute;
  top: 350px;
  left: 475px;
  height: 250px;
  width: 250px;
  z-index: 5;
  background-color: blue;
  mix-blend-mode: overlay;
  transition: all 2s ease;
  pointer-events: none;
}

#composition-ix{
  position: absolute;
  top: 350px;
  left: 475px;

}



#orange-d{
  position: absolute;
  top: 350px;
  left: 750px;
  height: 250px;
  width: 250px;
  z-index: 5;
  background-color: orange;
  mix-blend-mode: overlay;
  transition: all 2s ease;
  pointer-events: none;
}

#composition-x{
  position: absolute;
  top: 350px;
  left: 750px;

}

#glow{
  position: absolute;
  background-color: white;
  height: 250px;
  width: 250px;
  top: 350px;
  left: 1025px;
  mix-blend-mode: overlay;
  transition: all 2s ease;
  pointer-events: none;
}

#composition-n{
  position: absolute;
  background-color: white;
  height: 250px;
  width: 250px;
  top: 350px;
  left: 1025px;
  -webkit-box-shadow: 3px 6px 48px -7px rgba(194,194,194,1);
  -moz-box-shadow: 3px 6px 48px -7px rgba(194,194,194,1);
  box-shadow: 3px 6px 48px -7px rgba(194,194,194,1);
}



/*#composition-iv{
  position: absolute;
  top: 374px;
  left: 866px;
  z-index: 1;
}

#composition-v{
  position: absolute;
  top: 1142px;
  left: 866px;
  z-index: 1;
}

#composition-vi{
  position: absolute;
  top: 1910px;
  left: 866px;
  z-index: 1;
}

#composition-vii{
  position: absolute;
  top: 2678px;
  left: 866px;
  z-index: 1;
}


#composition-viii{
  position: absolute;
  top: 3446px;
  left: 866px;
  z-index: 1;
}

#composition-ix{
  position: absolute;
  top: 4214px;
  left: 866px;
  z-index: 1;
}

#composition-x{
  position: absolute;
  top: 4982px;
  left: 866px;
  z-index: 1;
}


/*#composition-iv{
  position: absolute;
  top: 225px;
  left: 200px;
}

#composition-v{
  position: absolute;
  top: 225px;
  left: 475px;
}

#composition-vi{
  position: absolute;
  top: 225px;
  left: 750px;
}

#composition-vii{
  position: absolute;
  top: 225px;
  left: 1025px;
}


#composition-viii{
  position: absolute;
  top: 500px;
  left: 335px;
}

#composition-ix{
  position: absolute;
  top: 500px;
  left: 610px;
}

#composition-x{
  position: absolute;
  top: 500px;
  left: 885px;
}*/








/*#composition-iv{
  position: absolute;
  top: 374px;
  left: 866px;
  z-index: 1;
}

#composition-v{
  position: absolute;
  top: 874px;
  left: 866px;
  z-index: 1;
}

#composition-vi{
  position: absolute;
  top: 1374px;
  left: 866px;
  z-index: 1;
}

#composition-vii{
  position: absolute;
  top: 1874px;
  left: 866px;
  z-index: 1;
}


#composition-viii{
  position: absolute;
  top: 2347px;
  left: 866px;
  z-index: 1;
}

#composition-ix{
  position: absolute;
  top: 2874px;
  left: 866px;
  z-index: 1;
}

#composition-x{
  position: absolute;
  top: 3374px;
  left: 866px;
  z-index: 1;
}*/
















/*font-family: 'Lora', serif;


.historybox{
	position: absolute;
	height: 628px;
	width: 1174px;
	background-color: #b0bfca;
	opacity: 0.5;
	z-index: 1;
	-webkit-animation-delay: 5s;
    animation-delay: 5s;
  -webkit-box-shadow: 0px 0px 34px 0px rgba(102,110,116,1);
  -moz-box-shadow: 0px 0px 34px 0px rgba(102,110,116,1);
  box-shadow: 0px 0px 34px 0px rgba(102,110,116,1);
}

.historybox:active{
	opacity: 0;
}

/*body {
  font-family: 'Lora', serif;
  background-size: cover;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}*/
