body{
	background-color: black;
	height: 1060px;
	width: 1400px;
}

#composition-iv{
  position: absolute;
  left: 65px;
}



#home-button{
	position: absolute;
	top: 950px;
	left: 625px;
}

#forward-arrow{
	position: absolute;
	top: 945px;
	left: 750px;
}